.btn-primary{
    text-decoration: none;
    /* font-size: clamp(1.5rem,2.441vw,1.675rem); */
    font-size: clamp(--fs4-font-size);
    font-weight: 600;
    color: #212A2B;
    background-color: #02DEC5;
    border-radius: 1.5rem;
    text-align: center;
    padding: .3rem 2rem;
}
/* ================================================== */

.submit-primary,.submit-secondary{
    appearance: none;
    outline: none;
    width: 100%;
    padding: .5rem;
    /* height: 50px; */
    border: 0;
    border-radius: 1rem;
    font-size: var(--fs3-font-size);
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
}
.submit-primary{
    background-color: #02DEC5;
    color: #212A2B;
}
.submit-secondary{
    background-color:#212a2b;
    color: #fff;
}
/* ======================================== */
.path-primary, .path-secondery{
    text-decoration: none;
    border-radius: 1.875rem;
    background-color: transparent;
    font-size: var(--fs4-font-size);
    padding: var(--fs4-font-size);
    font-weight: 600;
    letter-spacing: 5px;
    display: inline-block;
    cursor: pointer;
}
.path-primary{
    border: 1px solid #fff;
    color: #fff;
}
.path-secondery{
    border: 1px solid #343434;
    color: #343434;
}
/* ============================================= */
.more-detail{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    border: 1px solid #fff;
    border-radius: 3rem;
    transform: rotate(-40deg);
    color: #fff;
    text-align: center;
}
.more-detail-traingle{
    border-bottom: 2px solid #02DEC5;
    border-left: 2px solid #02DEC5;
    border-radius: 0 0 0 1.5rem;
    color: #fff;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}
.close-secondary{
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    color: #FFF;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 3rem;
    display: grid;
    place-content: center;
}
/* ============================================= */
.pages-primary, .pages-secondary{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}
.pages-primary button, .pages-secondary button{
    background-color: transparent;
    border-radius: 100px;
    text-align: center;
    margin: 2rem 0;
    cursor: pointer;
}
.pages-primary button{
    color:#FFF;
    border: 1px solid #fff;
}
.pages-secondary button{
    color:#212A2B;
    border: 1px solid #212A2B;
}
.pages-primary button, .pages-secondary button{
    font-size: 20px;
    padding: 10px 15px;
}

@media screen and (max-width:768px){
    .pages-primary button, .pages-secondary button{
        font-size: 15px;
        padding: 5px 10px;
    }
}
